/* <!-- section 1 begin--> */


.banner{
    background-color: rgb(236, 118, 118);
    display: flex; 
    height: 500px;
    justify-content: center;
}
.btn{
    background-color: brown;
    color: bisque;
    text-align: center;
    padding: 5px;
    border: 0;
    width: 100px;
    height: 40px;
    border-radius: 5px;
}
.himage{
    height: 90%;
    margin-left: 150px;
    margin-top: 50px;
}

/* <!-- section 1 end--> */


/* <!-- section 2 begin--> */

.headerr{
    text-align: left;
    margin-top: 100px;
    
}
.fhead{
    text-align: center;
    margin-top: 100px;
}
.fimage{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    
}
.fbgcolor1{
background-color: rgb(228, 141, 141);
height: 400px;
width: 300px;
border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}
.fbgcolor2{
    background-color: rgb(143, 184, 170);
    height: 400px;
    width: 300px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}
.fbgcolor3{
    background-color: rgb(169, 218, 218);
    height: 400px;
width: 300px;
border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}
.fpadd{
    margin-left: 25px;
    margin-right: 25px;
}
.flcolor{
    text-decoration-line: underline;
}

/* <!-- section 2 end--> */


/* <!-- section 3 begin--> */

.secthimage{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-left: 190px;
    margin-right: 190px;
    background-color: rgb(192, 218, 218);
    padding-top: 15px;
}
.forpad{
    margin-left: 30px;
    margin-right: 30px;
}

/* <!-- section 3 end--> */


/* <!-- section 4 begin--> */


.banntwo{
    background-color: rgb(189, 167, 167);
    display: flex; 
    justify-content: center;
    margin-top: 75px;
    height: 400px;
}
.head{
    text-align: center;
    margin-top: 150px;
    margin-right: 150px;
}
#off{
    color: rgb(236, 51, 51);
}
.heimage{
    margin-top: 50px;
    margin-bottom: 50px;
}

/* <!-- section 4 end --> */


/* <!-- section 5 begin --> */

.secfiveo{
    text-align: center;
    margin-top: 80px;
}
.secfiimage{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-left: 190px;
    margin-right: 190px;
    
}
.fpaddd{
    margin-right: 10px;
    margin-left: 10px;
}
.fpaddd{
    margin-right: 10px;
}
.widthh{
    height: 250px;
    width: 250px;
}
#bg{
background-color: rgb(171, 128, 212);
margin-left: 10px;
}

/* <!-- section 5 end --> */


/* <!-- section 6 begin --> */


.flvid{
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    border: 10px solid violet;
    padding-bottom: 50px;
    background-color: rgb(191, 147, 233);
    margin-left: 150px;
    margin-right: 150px;
}
.flmar{
    margin-bottom: 40px;
    font-size: 100px;
    font-weight: bolder;
color: rgb(65, 13, 114);
}

/* <!-- section 6 end --> */


/* <!-- section 7 begin --> */


.subs{
    text-align: center;
    margin-top: 50px;
    background-image: url(Rectangle\ 9.png);
    padding-top: 50px;
    padding-bottom: 10px;
    margin-left: 140px;
    margin-right: 140px;
    height: 200px;
}
#mail{
    width: 500px;
    padding: 10px;
    border: 1px solid rgb(156, 156, 212);
}

/* <!-- section 7 end --> */


/* <!-- section 8 begin --> */


footer{
    text-align: center;
    background-color: black;
    color: white;
    margin: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#flw{
color: rgb(207, 88, 88);
}

/* <!-- section 8 end --> */
